@page
@model GeoDraw.Views.Map.IndexModel
@{
}
<div id="map" style="width: 100vw; height: 100vh; z-index: 0;"></div>

<button id="main-button" onclick="showPopup()">Tools</button>
<div id="popup">
    <div style="display: flex; flex-direction: column;">
        <button onclick="addMarker()">&#128205;</button>
        <button onclick="addLine()">&#8260;</button>
        <button onclick="addRectangle()">&#9645;</button>
        <button onclick="addPolygon()">&#9670;</button>
        <button onclick="saveData()">&#11123;</button>
    </div>
    <button id="close-button" onclick="hidePopup()">&#10006;</button>
</div>
